<div class="text-white background-grey pt-10 pb-10">
  <div class="grid grid-cols-6 pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-4" style="font-size: 30px">STAY UPDATED</p>
    </div>
  </div>
  <div class="grid grid-cols-6" style="font-size: 20px">
    <p class="col-start-2 col-span-4 pb-8 ">Want to stay in the loop with our latest progress and other exciting developments? Check our BLOG page for all the latest updates,
    stories, and insights from The Babel Company.</p>
  </div>

  <div class="grid grid-cols-6 pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-4" style="font-size: 30px">COLLABORATION & PARTNERSHIP OPPORTUNITIES</p>
    </div>
  </div>
  <div class="grid grid-cols-6" style="font-size: 20px">
    <p class="col-start-2 col-span-4 pb-8">
      Are you interested in collaborating, sharing cool project ideas, joining forces, or becoming a partner or sponsor? We'd love to hear from you!
      For all collaboration and partnership inquiries, please reach out to our dedicated email: <a href="mailto:info&commat;thebabelcompany.com" class="font-bold underline" >info&commat;thebabelcompany.com</a>
    </p>
  </div>
  <div class="grid grid-cols-6 pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-4" style="font-size: 30px">QUESTIONS, FEEDBACK, OR JUST WANT TO SAY HI?</p>
    </div>
  </div>
  <div class="grid grid-cols-6" style="font-size: 20px">
    <p class="col-start-2 col-span-4 pb-8">
      Have a question, feedback, or just want to say hello? We're here to listen! Feel free to reach out to us on out social media pages or use this email:<a href="mailto:info&commat;thebabelcompany.com" class="font-bold underline" >info&commat;thebabelcompany.com</a>
    to get in touch in us.
    </p>
  </div>
</div>









