<div class="flex flex-wrap justify-center items-center max-w-screen-2xl">
  <ng-container *ngFor="let post of posts; let i = index">
    <div class="relative ">
      <app-post [post]="post"></app-post>

      <button id="postOptions" *ngIf="isProfileScreen" (click)="toggleDropdown(i)" class="absolute top-2 left-2 background-indian-red hover:bg-red-300 text-white font-bold py-1 px-2 rounded">
        ☰
      </button>

      <div *ngIf="isProfileScreen && isDropdownOpen[i]" class="absolute top-10 left-2 z-10 background-platinum rounded-lg shadow dark:bg-gray-700">
        <button id="requestDeletionButton" (click)="requestDeletion(post)" class="text-sm rounded-lg text-gray-700 dark:text-gray-200 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Request Deletion</button>
      </div>
    </div>
  </ng-container>
</div>
