<div class="text-white background-grey pt-10 pb-10">
  <div class="grid grid-cols-6 pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-4" style="font-size: 30px">INTRODUCING <br> THE BABEL COMPANY</p>
    </div>
  </div>
  <div class="grid grid-cols-6" style="font-size: 20px">
    <p class="col-start-2 col-span-2 ">The Babel Company is a movement for creative excellence in storytelling. We curate stories from creators all over the world, building an exciting collection of stories for all to enjoy.</p>
    <div class="col-span-3 flex justify-center">
      <img class="w-60 h-auto" src="../../../assets/images/babel-set-white.png">
    </div>
    <p class="col-start-2 col-span-2 pb-8">We're not just collecting stories though. We're passionate storytellers ourselves, contributing to the world of storytelling with our own original content!</p>
    <p class="col-start-2 col-span-2 pb-8">But that's just the beginning! At Babel, we're all about creativity. We love helping creatives hone their craft, providing a supportive community where we can level up together!</p>
  </div>
</div>


<div class="text-white pt-10 pb-10">
  <div class="grid grid-cols-6 grid-container  pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-5" style="font-size: 30px" >LEVELING THE PLAYING FIELD</p>
    </div>
  </div>
  <div class="grid grid-cols-6 grid-container" style="font-size: 20px">
    <p class="col-start-2 col-span-2 pb-8">At Babel, we want to empower passionate storytellers, regardless of their background or experience.</p>
    <p class="col-start-2 col-span-2 pb-8">In the world of storytelling, connections and past successes can make a big difference, but not everyone enjoys those adventages, especially beginners.</p>
    <p class="col-start-2 col-span-2 pb-8">Thats where we come in. We're commited to making things fair, believing that anyone can tell great stories</p>
    <p class="col-start-2 col-span-2 pb-8">Everyone deserves a shot to shine, and we're here to show you the best they've got! when selecting, the story quallity is our #1 priority.</p>
  </div>
</div>

<div class="text-white background-grey pt-10 pb-10">
  <div class="grid grid-cols-6 grid-container  pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-5" style="font-size: 30px" >CHAMPIONS OF <br> CREATIVE FREEDOM</p>

    </div>
  </div>
  <div class="grid grid-cols-6 grid-container" style="font-size: 20px">
    <p class="col-start-2 col-span-2 pb-8">In a world dominated by algorithms and corporate agendas, we fight to keep the spark of creativity alive.</p>
    <p class="col-start-2 col-span-2 pb-8">At Babel, we championthe freedom of storytellers, giving them the power to tell their tales the way they want to, without limitations (but within reason, of course.
    we'd prefer to steer clear of anything that might get us on a watchlist...).</p>
    <p class="col-start-2 col-span-2 pb-8">We carefully collect and create stories that are just plain awesome, with maingoal of being entertaining.
    Unlike others in this space, we don't have an agenda to push. Instead, we let the stories do the talking. Go see for yourself! Explore our collection and discover what speaks to you!</p>
  </div>
</div>

<div class="text-white pt-10 pb-10">
  <div class="grid grid-cols-6 grid-container  pr-6">
    <div class="col-span-2 col-start-2">
      <p class="text-xl font-semibold pb-5" style="font-size: 30px" > THE POWER OF STORIES </p>
    </div>
  </div>
  <div class="grid grid-cols-6 grid-container" style="font-size: 20px">
    <p class="col-start-2 col-span-2 pb-8">We believe in the infinate power of stories to spark the imagination, expand horizons and forge connections in ways
    that we might not ecen understand</p>
    <p class="col-start-2 col-span-2 pb-8">They're not just stories; they're passages to infinate worlds of fantasy and wisdom, sometimes passes down through the ages</p>
    <p class="col-start-2 col-span-2 pb-8">We believe stories have the power to change things for the better. So, we want to help with that.</p>
    <p class="col-start-2 col-span-2 pb-8">Our dedication lies in revitalizing the art of entertainment and empowering storytellers so they can thrive, fostering a world where both stories and their creators van flourish.</p>
  </div>
</div>

