.background-grey{
  background-color: #1E1B1B;
}

.filter-menu {
  background-color: #071013;
  position: absolute;
  width: 12%;
  height: 50%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #0a0a0a;
}

